.cabecalho {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

e .pvermelho {
    color: white;
    background-color: red;
    padding: 5px 10px;
}


.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    text-align: end
}




.txtcorreio {
    text-align: end;
    display: flex;
    justify-content: flex-end;
}




.txtcorreio2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    gap: 50px;
}




h1 {
    color: red;
    padding-left: 50px;
}



.imagens {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}




.motorista {
    background-color: rgb(202, 37, 37);
    padding: 10px;
}

.pbranco {
    color: white;
}

.pcinza {
    color: rgb(210, 210, 210);
}




.txtpol {
    color: red;
}

.Cantora {
    color: gray;
}

.rep {
    color: red;
}

.sou {
    color: gray;
}




.tf {
    padding-left: 60px;
}

.veja {
    color: red;
    text-align: end;
    padding-right: 50px;
}

.lid {
    color: red;
    text-align: end;
    padding-right: 50px;
}




.frame {
    background-color: gray;
    padding: 20px;
}

h3 {
    color: white;
    padding-left: 20px;
}




.rodape {
    display: flex;
    justify-content: space-around;
    background: #f2f2f2;
    padding: 30px;
    margin-top: 40px;
    color: gray;
}



.rodape1 {
    width: 250px;
    color: gray;
}

.rodape2 {
    width: 200px;
    color: gray;
}

.rodape3 {
    width: 200px;
    color: gray;
}

.rodape4 {
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}



.pfinal {
    color: gray;
    font-size: 14px;
}
