a:hover{

color:rgb(43, 137, 226);
}

.but{
    color: aquamarine;
}

.dri{ 
    display: block;
    padding-left: 750px;

}
/*  


font-size: 12pt;
background-color: white;
text-align: right;
color: red;
font-size: 18pt;
text-align: left;
height: 100px;
width: 300px;
background-color: white;
color: black;
margin-top: 50pt;
margin-bottom: 30pt;
margin-left: auto;
margin-right: auto;
border: 2px dashed red;
padding-top: 100px;
padding-bottom: 50px;
padding-right: 30px;
padding-left: 100px;}
*/