.p {
    font-family: sans-serif;
    font-size: 20pt;
}

.H {
    color: darkgreen;
}



.LT {
    display: flex;
    justify-content: center;

}

.L1 {
    padding: 20px;
}

.L2 {
    padding: 20px;
}

.L3 {
    padding: 20px;
}

.V {

    padding: 20px;
}

.Mapa {

    padding: 20px;
}

.testes {

    display: flex;
    justify-content: center;
}

body{
    background-color:lightgray;
}

.topo {
    display: flex;
    justify-content: center;
justify-content: space-between;
border:solid 5px;
text-align: center;
}
