.p {
    font-family: sans-serif;
    font-size: 20pt;
    color:rgb(72,20,122);
}

.H {
    color: darkgreen;
}



.LT {
    display: flex;
    justify-content: center;

}

.L1 {
    padding: 20px;
}

.L2 {
    padding: 20px;
}

.L3 {
    padding: 20px;
}

.V {

    padding: 20px;
}

.Mapa {

    padding: 20px;
}

.testes {

    display: flex;
    justify-content: center;
}

body{
    background-color:lightgray;
}

.topo {
    display: flex;
text-align:center;
align-items:center;
background-color:bisque;
justify-content: space-between;
color: rgb(66, 174, 241);
border:solid 5px;
}

.homes{
display: flex;
text-align:center;
background-color:lightskyblue;
justify-content:space-around;

}

.baixo {
    display: flex;
text-align:center;
align-items:center;
background-color:bisque;
justify-content: space-between;
}

table {
    border-style: dotted;
    border-color:red;
    align-items: center;

}

th{
    color:red;
}

.links{
    background-color:yellow;
 width:400px; 
    height:130px; 
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

li{
    display: block;
    align-items:center;
    text-align:center;
}